* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-container {
    width: 300px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid blue;
   border-radius: 5px;
   background-color:white;
   opacity: 80%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 10pt;
    border: 1px solid lightgreen;
    border-radius: 3px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: blueviolet;

}

p {
    margin-top: 15px;
}