body {
    background-color: #f5ca7a;
}

button {
    width: 80px;
    background-color: aqua;
}

h1 {
    color: #708090;
}
    
p {
    font-size: 33pt;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}